.container
    background-color: rgb(37 99 235)
    color: white

.header
    height: 64px
    display: flex
    align-items: center
    justify-content: space-between

    .left
        display: flex
        align-items: center
        gap: 8px

        .submit
            color: white
            border: 1px solid white
            padding: 8px
            border-radius: 5px